{% load static %}

<!-- <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script> -->
<script src="{% static 'js/flowbite.min.v2.4.1.js' %}"></script>

<script src="{% static 'js/iconify-icon.min.v2.1.0.js' %}"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> -->
<script src="{% static 'js/moment.min.v2.29.1.js' %}"></script>

<!-- <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script> -->
<script src="{% static 'js/jquery.dataTables.v1.13.7.js' %}"></script>

<!-- <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.3/dist/cdn.min.js"></script> -->
<script defer src="{% static 'js/alpinejs.v3.14.3.js' %}"></script>