{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="m-4 grid grid-cols-3 gap-4">
    <div class="col-span-3 sm:col-span-1">
        <!-- Last Login Information -->
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg py-2 px-2 bg-white	h-full">
            <div class="py-3 px-4 mx-auto max-w-2xl lg:py-2">
                <h2 class="mb-4 text-xl font-semibold leading-none text-gray-900 md:text-l sm:mb-5">{% trans 'Welcome' %}</h2>
                <dl>
                    <dt class="mb-2 font-semibold leading-none text-gray-900">{{ name|title }}</dt>
                    <dd class="mb-4 font-light text-gray-500 sm:mb-5">{% trans 'Last Login At' %}: {{ last_login_at|date:"Y-m-d" }} {{ last_login_at|time:"H:i:s" }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

{% endblock %}
